<br />

<div class="booyah-box col-10 offset-1">
  <h1><% if current_user && current_user == @course.user %>
        <%= image_tag @course.image.url, class: 'img-fluid' %>
        <%= @course.title %> <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-danger btn-large' %>
        <br />
      <% else %>
        <%= @course.title %>
        <br />
      <% end %>
      <br />
      <br />
      <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-primary', method: :post %>
  </h1>

  <br />
  <div class="row">
    <div class="col-sm-2 col-12 text-center">
      <span class="badge badge-default">
        <%= number_to_currency @course.cost %>
      </span>

    <br />
    <br />

    <% if current_user && current_user.enrolled_in?(@course) %>
      <h3 class="badge badge-info">You Are Enrolled!</h3>
    <% else %>
      <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-primary', method: :post %>
    <% end %>
  </div>

  <div class="col-sm-10 col-12">
      <%= @course.description %>
  </div>

  <div class="col-12">
    <% @course.sections.each do |section| %>
        <br /><br />
        <div class="section">
          <h3>
          <%= section.title %>
          </h3>
          <div class="row">
          <% section.lessons.each do |lesson| %>
              <div class="col-12 col-sm-6">
              <div class="lesson text-center">
                <br />
                  <%= link_to lesson_path(lesson) do %>
                    <b><%= lesson.title %></b>
                    <br />
                    <%= lesson.subtitle %>
                  <% end %>
              </div>
              </div>
          <% end %>
          </div>
          <br class="clr" />
        </div>
    <% end %>
    </div>
  </div>
</div>